#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.textarea{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.textarea > textarea{
  outline: none;
  background-color: rgb(95, 87, 87);
  padding: 15px;
  border-radius: 5px;
  margin-top: 35px;
}
.textarea > .username{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.username > .input-text{
  font-size: 19px;
}
.username > input{
  padding: 10px;
  background-color: rgb(95, 87, 87);;
  outline: none;
  border: none;
  border-radius: 5px;
}

.textarea > button{
    width: 30%;
    background-color: black;
    color: #fff;
    outline: none;
    margin-top: 20px;
}
.header{
  text-align: left;
}

.rating{
  text-align: left;
  font-size: 19px;
}



 .feedback-item{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 25px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

.feedback-item > p{
  font-size: 19px;
  color: black;
}






